<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table {
            border: 1px solid #dddddd;
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:hover {
            background-color: #A9A9A9;
        }

        th {
            background-color: #A9A9A9;
            color: black;
            text-align: center;
        }
    </style>
</head>


<body>
<h2>List Book</h2>

<table style="width:70%" class="table" id="render">
    <thead>
    <tr>
        <th>#</th>
        <th>Id</th>
        <th>Name</th>
        <th>Author</th>
        <th>Publisher</th>
        <th>Publis Date</th>
        <th>Cagetory Id</th>
        <th>Book Country</th>
        <th>Facebook</th>
        <th>Status</th>
        <th>Action</th>
    </tr>

    <tr th:each="book : ${books}">
        <td><input type="checkbox" class=""></td>
        <td th:utext="${book.bookId}"></td>
        <td th:utext="${book.name}"></td>
        <td th:utext="${book.author}"></td>
        <td th:utext="${book.publisher}">td>
        <td th:utext="${book.publishDate}"></td>
        <td th:utext="${book.categoryId}"></td>
        <td th:utext="${book.bookCountry}"></td>
        <td th:utext="${book.facebook}"></td>
        <td th:utext="${book.status}"></td>
        <td>
            <button onclick="editItem(${data[i].Id})">Edit</button>
            <button onclick="deleteItem(${data[i].Id})">Delete</button>
        </td>
    </tr>
    </thead>

</table>

<script>

    function editItem(x) {
        for (let i = 0; i < data.length; i++) {
            if (data[i].Id == x) {
                document.getElementById("id").value = data[i].id;
                document.getElementById("name").value = data[i].id;
                document.getElementById("author").value = data[i].id;
            }
        }
    }

    function deleteItem(x) {
        for (let i = 0; i < data.length; i++) {
            if (data[i].Id == x) {
                data.splice(i, 1)

                render()
            }
        }
    }

</script>
</body>
</html>
