<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change password</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div class="col-md-6 offset-md-3">
    <div class="alert alert-danger alert-dismissible fade show" id="error" hidden>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <span id="error-message"></span>
    </div>
    <div class="alert alert-success alert-dismissible fade show" id="success" hidden>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <span id="success-message"></span>
    </div>
    <span class="anchor" id="formChangePassword"></span>
    <hr class="mb-5">

    <!-- form card change password -->
    <div class="card card-outline-secondary">
        <div class="card-header">
            <h3 class="mb-0">Change Password</h3>
        </div>
        <div class="card-body">
            <form th:action="@{/do-change-password}" th:object="${passReset}" method="post" class="form" role="form" autocomplete="off">
                <!--                <div class="form-group">-->
                <!--                    <label for="inputPasswordOld">Current Password</label>-->
                <!--                    <input type="password" class="form-control" id="inputPasswordOld" required="">-->
                <!--                </div>-->
                <div class="form-group">
                    <label for="inputPasswordNew">New Password</label>
                    <input th:field="*{newPassword}" type="password" class="form-control" id="inputPasswordNew" required="">
                    <span class="form-text small text-muted">
                                            The password must be 8-20 characters, and must <em>not</em> contain spaces.
                                        </span>
                </div>
                <div class="form-group">
                    <label for="inputPasswordNewVerify">Verify</label>
                    <input th:field="*{confirmPassword}" type="password" class="form-control" id="inputPasswordNewVerify" required="">
                    <span class="form-text small text-muted">
                                            To confirm, type the new password again.
                                        </span>
                </div>
                <input type="hidden" th:field="*{userId}" class="form-control" >
                <div class="form-group">
                    <a href="#" type="submit" class="btn btn-success btn-lg float-left" id="forgotPass" hidden>Forgot
                        Password</a>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-lg float-right" id="save">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script th:inline="javascript">
    var error = [[${error}]];
    var success = [[${success}]];
    var callForm = [[${callForm}]]
    if(callForm != null ){
        document.getElementById("success").hidden = true;
        document.getElementById("error-message").innerText = error;
        document.getElementById("error").hidden = false;
        document.getElementById("save").hidden = true;
        document.getElementById("forgotPass").hidden = false;
        const elements = document.getElementsByTagName("input");
        for (i = 0; i < elements.length; i++) {
            elements[i].disabled = true;
        }
    }else{
        if (error == null && success == null) {
            document.getElementById("forgotPass").hidden = true;
            document.getElementById("error").hidden = true;
            document.getElementById("success").hidden = true;
        } else if (error == null && success != null) {
            document.getElementById("error").hidden = true;
            document.getElementById("success-message").innerText = success;
            document.getElementById("success").hidden = false;
            document.getElementById("save").disabled = true;
            document.getElementById("forgotPass").hidden = false;

        } else {
            document.getElementById("success").hidden = true;
            document.getElementById("error-message").innerText = error;
            document.getElementById("error").hidden = false;
            document.getElementById("save").hidden = false;
            document.getElementById("forgotPass").hidden = true;
        }
    }

</script>

</body>
</html>