<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Báo cáo</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/i18n/defaults-*.min.js"></script>
</head>
<body>
<div class="col-md-6 offset-md-3">
    <span class="anchor" id="formChangePassword"></span>
    <hr class="mb-5">

    <!-- form card change password -->
    <div class="card card-outline-secondary">
        <div class="card-header">
            <h3 class="mb-0">BÁO CÁO SỐ LƯỢNG SÁCH MƯỢN QUÁ HẠN</h3>
        </div>
        <div class="card-body">
            <div class="col-md-8">
                <label>Chọn loại biểu đồ:</label>
                <select class="selectpicker" data-style="btn-info" onchange="chartType()" id="mySelect">
                    <option value="line" th:selected="${chartType == ('line')}">Line chart</option>
                    <option value="bar" th:selected="${chartType == ('bar')}">Bar chart</option>
                    <option value="pie" th:selected="${chartType == ('pie')}">Pie chart</option>
                    <option value="polarArea" th:selected="${chartType == ('polarArea')}">Polar chart</option>
                </select>
            </div>
            <br>
            <div>
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    const labels = /*["a","b","c"]*/[[${bookIds}]];
    const backgroundColor = [labels.length];
    for (var i = 0; i < labels.length; i++) {
        var color = '#' + Math.floor(Math.random() * 16777215).toString(16);
        backgroundColor[i] = color
    }
    console.log(backgroundColor)


    const data = {
        labels: labels,
        datasets: [{
            label: 'books expired',
            backgroundColor: backgroundColor,
            data: /*[0, 10, 5, 2, 20, 30, 45]*/[[${countExpired}]],
            tension: 0.2
        }]
    };

    const config = {
        type: [[${chartType}]],
        data: data,
        options: {}
    };

    const myChart = new Chart(
        document.getElementById('myChart'),
        config
    );

    function chartType() {
        var chart = document.getElementById("mySelect").value;
        window.location.href = "/rpt-book-expired?chart=" + chart;
    }
</script>
</body>
</html>